<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Editar Proveedor</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="">Nit</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Correo Electronico</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Telefonos</label>
          <input type="text" class="form-control">
        </div>
        <button (click)="actualizarProveedor()" class="btn btn-danger">Actualizar</button>
      </form>
    </div>
  </div>
</div>