<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Agregar Proveedor</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label  for="">Nit</label>
          <input [(ngModel)]="proveedor.nitProveedor" name="nitProveedor" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Nombre</label>
          <input [(ngModel)]="proveedor.nombreProveedor" name="nombreProveedor" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Correo</label>
          <input [(ngModel)]="proveedor.correoProveedor" name="correoProveedor" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Telefono</label>
          <input [(ngModel)]="proveedor.telefonoProveedor" name="telefonoProveedor" type="text" class="form-control">
        </div>
          <button (click)="cancelar()" class="btn btn-danger">Cancelar</button>
          <button (click)="guardarProveedor()" class="btn btn-success" style="margin-left: 10px">Guardar</button>
        </form>
    </div>
  </div>
</div>