<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Agregar Factura</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="">Identificador de la Factura de Proveedor</label>
          <input [(ngModel)]="factura.idFacturaProveedor" name="idFacturaProveedor" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Fecha</label>
          <input [(ngModel)]="factura.fechaFactura" name="fechaFactura" type="date" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Proveedor</label>
          <select class="form-control" [(ngModel)]="factura.proveedor" name="proveedor">
            <option *ngFor="let proveedor of proveedores" [(ngValue)]="proveedor" >
              <span>{{proveedor.nombreProveedor}}</span>
            </option>
          </select>
        </div>
        <button (click)="cancelar()" class="btn btn-danger">Cancelar</button>
        <button (click)="guardarFactura()" class="btn btn-success" style="margin-left: 10px">Guardar</button>
      </form>
    </div>
  </div>
  <div>
    <h1>Items de la Factura </h1>
      <table border="1" *ngIf="hayRegistros(); else sinarticulos" class="table table-striped table-bordered table-sm row-border hover">
        <tr>
          <td>Codigo</td>
          <td>Producto</td>
          <td>Precio Unitario</td>
          <td>Cantidad</td>
          <td>Opciones</td>

        </tr>
        <tr *ngFor="let item of items">
          <td>{{item.producto.idProducto}}</td>
          <td>{{item.producto.nombreProducto}}</td>
          <td>{{item.precio}}</td>
          <td>{{item.cantidad}}</td>
          <td><button (click)="borrar(item)" class="btn btn-danger">Borrar</button>
          <button (click)="seleccionar(item)" class="btn btn-success" >Seleccionar</button></td>
        </tr>
      </table>
      <ng-template #sinarticulos><p>No hay articulos.</p></ng-template>
      <div>
        <p>
          Codigo:<select class="form-control" [(ngModel)]="item.producto" name="producto">
            <option *ngFor="let producto of productos" [(ngValue)]="producto" >
              <span>{{"" +producto.idProducto +" "+ producto.nombreProducto}}</span>
            </option>
          </select>
        </p>
        <p>
          cantidad:<input class="form-control" type="number" [(ngModel)]="item.cantidad" />
        </p>
        <p>
          precio:<input class="form-control" type="number" [(ngModel)]="item.precio" />
        </p>
        <p><button (click)="agregar()" class="btn btn-success" style="margin-left: 10px">Agregar</button>
        <button (click)="modificar()" class="btn btn-primary">Modificar</button></p>
      </div>
  </div>
</div>
