<!DOCTYPE html>
<html lang="en">

<head style="background-color: yellow">
  <title>Facturas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color: yellow">

  <header>
    <nav class="navbar justify-content-between" style="background-color: yellow">
      <button (click)="salir()"><img src="/assets/img/user.png" style="width: 40px; height: 40px">Cerrar Sesión</button>
    </nav>
  </header>
  <div class="row">
    <div class="col-sm-2">
      <app-structure></app-structure>
    </div>
    <div class="col-md-9 col-sm-10">
      <div class="input-group md-form form-sm form-2 pl-0">
        <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <span class="input-group-text red lighten-3" id="basic-text1"><i class="fas fa-search text-grey"
              aria-hidden="true"></i></span>
        </div>
      </div>

      <button (click)="crear()" class="btn btn-success" style="margin: 10px">Agregar Factura</button>
      <div class="card">
        <!--Table-->
        <table id="tf"style="width:100%" class="display">
          <!--Table head-->
          <thead class="text-center">
            <tr>
              <th>Id Factura</th>
              <th>Codigo Factura Proveedor</th>
              <th>Proveedor</th>
              <th>Fecha</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <!--Table body-->
          <tbody>
            <tr *ngFor="let factura of facturas" class="text-center">
              <td class="text-center">{{factura.idFactura}}</td>
              <td class="text-center">{{factura.idFacturaProveedor}}</td>
              <td class="text-center">{{factura.proveedor.nombreProveedor }}</td>
              <td class="text-center">{{factura.fechaFactura}}</td>
              <td class="text-center">
                <button (click)="editarFactura(factura)" class="btn btn-primary">Editar</button>
                <button (click)="eliminarFactura(factura)" class="btn btn-danger">Eliminar</button>
            </tr>
          </tbody>
        </table>
        <!--Table-->
      </div>
    </div>
  </div>
</body>

</html>