<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Ingresar</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

  </head>

  <body>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#">Archivo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Usuario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Disabled</a>
        </li>
      </ul>
      
      <nav class="nav flex-column">
        <li class="nav-item">
          <img src="/assets/img/box.png">
          <a class="nav-link active" href="#">Productos</a>
        </li>
        <li class="nav-item">
          <img src="/assets/img/truck.png">
          <a class="nav-link active" href="#">Proveedor</a>
        </li>
        <li class="nav-item">
          <img src="/assets/img/bill.png">
          <a class="nav-link active" href="#">Facturas</a>
        </li>
        <li class="nav-item">
          <img src="/assets/img/static.png">
          <a class="nav-link active" href="#">Reportes</a>
        </li>
      </nav>

  </body>

</html>