<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Ingresar</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

  </head>

 

  <body style="width: 100px">
            
      <nav class="nav flex-column">
        <br>
        <br>
        <li class="nav-item">
          <img src="/assets/img/box.png" style="width: 80px; height: 80px">
          <a class="nav-link active" href="#">Productos</a>
        </li>
        <br>
        <br>
        <li class="nav-item">
          <img src="/assets/img/truck.png" style="width: 80px; height: 80px">
          <a class="nav-link active" href="#">Proveedor</a>
        </li>
        <br>
        <br>
        <li class="nav-item">
          <img src="/assets/img/bill.png" style="width: 80px; height: 80px">
          <a class="nav-link active" href="#">Facturas</a>
        </li>
        <br>
        <br>
        <li class="nav-item">
          <img src="/assets/img/static.png" style="width: 80px; height: 80px">
          <a class="nav-link active" href="#">Reportes</a>
        </li>
      </nav>



  </body>

</html>