<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Ingresar</title>
    <meta charset="utf-6">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha364-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ764/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">

  </head>

 

  <body style="width: 160px; background: gray">
            
      <div class="col-12 col-md-3 col-x1-2 bd-sidebar" style=" background: gray">
        <br>
        <br>
        <button class="nav-item" style="width: 120px; height: 120px" (click)="productos()">
          <img src="/assets/img/box.png" style="width: 60px; height: 60px">
          <p >Productos</p>
        </button>
        <br>
        <br>
        <button class="nav-item" style="width: 120px; height: 120px" (click)="proveedores()">
          <img src="/assets/img/truck.png" style="width: 60px; height: 60px">
          <p>Proveedor</p>
        </button>
        <br>
        <br>
        <button class="nav-item" style="width: 120px; height: 120px" (click)="facturas()">
          <img src="/assets/img/bill.png" style="width: 60px; height: 60px">
          <p>Facturas</p>
        </button>
      </div>



  </body>

</html>