<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Editar Producto</h3>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="">Codigo del Producto</label>
            <input [(ngModel)]="producto.codigoProducto" name="idProducto" type="text" class="form-control" disabled>
        </div>
      <form [formGroup]="prod" (ngSubmit)="actualizarProducto(producto)">
        <div class="form-group">
          <label for="">Nombre del Producto</label>
          <input [(ngModel)]="producto.nombreProducto" name="nombreProducto" type="text" formControlName="nombreProd" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombreProd.errors }">
          <div *ngIf="submitted && f.nombreProd.errors" class="invalid-feedback">
            <div *ngIf="f.nombreProd.errors.required">Por favor, ingrese el nombre del producto</div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Descripcion del Producto</label>
          <input [(ngModel)]="producto.descripcion" name="descripcionProducto" type="text" formControlName="descProd" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descProd.errors }">
          <div *ngIf="submitted && f.descProd.errors" class="invalid-feedback">
            <div *ngIf="f.descProd.errors.required">Por favor, ingrese la descripción del producto</div>
          </div>
        </div>
        <button (click)="cancelar()" class="btn btn-danger">Cancelar</button>
        <button [disabled]="loading"  class="btn btn-success" style="margin-left: 10px">Actualizar</button>
      </form>
    </div>
  </div>
</div>