<!DOCTYPE html>
<html lang="en">

<head>
  <title>Ingresar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
      <div class="card_login">
        <div class="card">
          <div class="card-body text-center">
            <form #formLogin="ngForm" (submit)="onLogIn()">
              <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError">Inicio de Sesion</h1>
              <img src="">
              <div class="form-group">
                <input [(ngModel)]="email" type="email" id="email" name="email" class="form-control"
                  placeholder="Correo electronico" required>
              </div>
              <div class="form-group">
                <input [(ngModel)]="password" type="password" id="password" name="password" class="form-control"
                  placeholder="Contraseña" required>
              </div>
              <div class="form-group">
                <a routerLink="/user/register" class="form-control login-user">¿Olvidó su contraseña?</a>
              </div>
              <button type="submit" class="btn btn-lg btn-success btn-block">Ingresar</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<body>



</body>

</html>