<!DOCTYPE html>
<html lang="en">

<head>
  <title>Proveedores</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background: yellow">

  <header>
    <nav class="navbar justify-content-between" style="background-color: yellow">
      <button (click)="salir()"><img src="/assets/img/user.png" style="width: 40px; height: 40px">Cerrar Sesión</button>
    </nav>
  </header>

  <h1 class="text-center" style="padding-left: 150px">¡Bienvenido Admin!</h1>
  <div class="row">
    <div class="col-sm-2" style="margin-left: 17px">

      <app-structure></app-structure>

      
    </div>
    <div class="row" style="padding-left: 280px; padding-top: 170px;">
      <div class="col">
        <button class="btn-success" (click)="registrar()">Registrar Usuario</button>
      </div>
      <div class="col">
        <button class="btn-secondary" (click)="modificar()">Modificar Usuario</button>
      </div>
      <div class="col">
        <button class="btn-danger" style="width: 130px" (click)="eliminar()">Eliminar Usuario</button>
      </div>
    </div>
    </div>

    
</body>

</html>