<!DOCTYPE html>
<html lang="en">

<head>
  <title>Proveedores</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background: yellow">

  <header>
    <nav class="navbar justify-content-between" style="background-color: yellow">
      <button (click)="salir()"><img src="/assets/img/user.png" style="width: 40px; height: 40px">Cerrar Sesión</button>
    </nav>
  </header>
  <div class="row">
    <div class="col-sm-2">
      <app-structure></app-structure>
    </div>
    <div class="col-md-9 col-sm-10">
      
      <button (click)="crear()" class="btn btn-success" style="margin: 10px">Agregar Producto</button>
      <div class="card">
        <!--Table-->
        <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOption">
          <!--Table head-->
          <thead class="text-center">
            <tr>
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <!--Table body-->
          <tbody>
            <tr *ngFor="let producto of productos" class="text-center">
              <td class="text-center">{{producto.idProducto}}</td>
              <td class="text-center">{{producto.nombreProducto}}</td>
              <td class="text-center">{{producto.descripcion}}</td>
              <td class="text-center">
                <button (click)="editarProducto(producto)" class="btn btn-primary">Editar</button>
                <button (click)="eliminarProducto(producto)" class="btn btn-danger">Eliminar</button>
            </tr>
          </tbody>
        </table>
        <!--Table-->
      </div>
    </div>
  </div>
</body>

</html>