<div class="container">
    <h1 class="text-center">Productos</h1>
    <button  (click)="crear()" class="btn btn-success">Agregar Producto</button>
    <div class="card">
      <!--Table-->
      <table class="table table-striped w-auto">
        <!--Table head-->
        <thead class="text-center">
          <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <!--Table body-->
        <tbody>
          <tr *ngFor="let producto of productos" class="text-center">
              <td class="text-center">{{producto.idProducto}}</td>
              <td class="text-center">{{producto.nombreProducto}}</td>
              <td class="text-center">{{producto.descripcion}}</td>
              <td class="text-center">
                <button (click)="editarProducto(producto)" class="btn btn-primary">Editar</button>
                <button (click)="eliminarProducto(producto)" class="btn btn-danger">Eliminar</button>
          </tr>
        </tbody>
      </table>
      <!--Table-->
    </div>
  </div>